<md-card class="flex-container">
    <md-card-content>
            <form name="myForm" novalidate>
            <md-input-container md-no-float class="md-block">
                    <input ng-model="userData.fname" name="fname" placeholder="First Name" required>
                    <span ng-show="myForm.fname.$touched"></span>
                  </md-input-container>
            <md-input-container md-no-float class="md-block">
                        <input ng-model="userData.lname" name="lname" placeholder="Last Name" required>
                        <span ng-show="myForm.lname.$touched"></span>
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                    <input ng-model="userData.email" name="email" placeholder="Email" required>
                    <span ng-show="myForm.email.$touched"></span>
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                    <input ng-model="pw1" name="pw1" id="pw1" type="password" placeholder="Password">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                    <input ng-model="pw2" name="pw2" id="pw2" type="password" placeholder="Repeat Password" pw-check='pw1'>
            </md-input-container>
            <div class="error-message"
            ng-show="form.pw2.$invalid && !form.pw2.$pristine">
           Sorry, the passwords don't match.
       </div>
              <button style="padding:3px;height:40px;width:80px;background:white;border:1px solid rgba(115,238,214, 0.6);display:block;margin:auto;" ng-click="registerUser()" ng-disabled="myForm.$invalid">Submit</button>
              </form>
            </md-card-content>
           
</md-card>